<section class="admin-products-index">

  <header class="page-header">
    <h1>About</h1>
  </header>

  Jungle is a web store that specializes in all sorts of weird products that are sure to intrigue.
  <br>
  <br>
  Happy Shopping!

</section>
